{% extends 'body.html' %}
{% load static %}
   {% block head %}
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
  
        <!-- <link rel="stylesheet" href='{% static "inicio/css/vendor.css" %}'> -->
      
        <link rel="stylesheet" id="theme-style" href="{% static 'inicio/css/app.css' %}">
      
        <!-- <link rel="stylesheet" href="{% static 'inicio/css/Ionicons/css/ionicons.css' %}"> -->
      
        <!-- <link rel="stylesheet" href="{% static 'inicio/css/datatables.net-bs/css/dataTables.bootstrap4.css' %}">
      
        <link rel="stylesheet" href="{% static 'inicio/css/alertify-css/alertify.css' %}"> -->
      
        <style>
            .error-personal
            {
                color: #fff;
                background: rgba(250, 0, 0, 0,95);
                text-shadow: -1px -1px 0 rgba(0, 0, 0, 0,5);
            }
        </style>
        
  
{% endblock %}